@import '~@fortawesome/fontawesome-free/css/all.css';

.Header{
    width: 100%;
    height: 20vh;
    color: #f2cbcb84;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    background-color: #282c34;
    /* box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.7), 3px 3px 10px rgba(0, 0, 0, 0.3); */

    /* Add a border to complete the emboss effect */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 40px 40px;
    
}   
.center{
    flex : 1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}
h1{
    font-size: 45px;
    font-weight: 900;
    color: #f2cbcbb8;
}
.list{
    flex: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
}
.controlOptions{
    flex-shrink : 1;
    display: flex;
    justify-content: flex-start;
}
.controlOption{
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    /* min-width: 10px; */
    color: #f2cbcb84;
    padding-left: 1rem;
    padding-right : 1rem;
    transition: all 0.1s ease;
}
.controlOption:hover{
    color : #f2cbcbfe;
}
.time{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* width: 10px; */
    transform: scale(0);
    justify-content : center;
    align-items: flex-start;
    transition: all 3s ease-in-out;
}
.icon{
    color : '#f2cbcb84'; 
    font-size : 30px; 
    font-weight : 900; 
    margin-right : 20px
}
.icon:hover {
    cursor: pointer;
}
.sorts{
    flex-shrink: 1;
    display: flex;
    margin-right: 3rem;
}
.listItem{
    margin-left: 3rem;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    color: #f2cbcb84;
    transition: all 0.1s ease;
}
.listItem:hover{
    color : #f2cbcb;
}
.arrayInput{
    flex:1;
    justify-content: center;
    transition: all 3s ease;
}
input[type='text'] {
    background-color: #282c34;
    min-width: 250px;
    padding: 10px;
    width: 100%;
    margin: auto;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color : #f2cbcbb8;
    border: 2px solid rgb(242,220,220, 0.58);
    border-radius: 12px;
    transition: all 0.1s ease;
    text-align: center;
}
input[type='text']:focus{
    outline: none;
    border: none;
    border: 2px solid #f2cbcbb8;
    border-radius: 12px;
}

input[type="range"] {
    transform: rotate(180deg);
    width: 200px;
    height: 5px;
    background-color: #f2cbcb84;
    border-radius: 50px;
    outline: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #282c34;
    border-radius: 50%;
    border : 2px solid #f2cbcb84;
    cursor: pointer;
    transition: all 0.2s ease;
}
input[type="range"]::-webkit-slider-thumb:hover{
    border : 3px solid #f2cbcb84;
    width:30px;
    height:30px;
}