/* @media (max-width : 600px){
    .array{
        display:flex;
        flex-direction:column;
        width:100%;
        height:fit-content;
        justify-content: center;
        align-items:flex-start;
    }
    .container{
        width: 100%;
        height:auto;
    }    
    .array-bar{
        height: 12px;
        margin-bottom: 12px;
        background-color: #282c34;
        transition: all 0.2s ease;
        border: 0px solid #f2cbcb84;
    }
} */
.array{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
  }
  .container{
    height: 500px;
    width : 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #282c34;
  } 
  .displayArr{
    height: 500px;
    width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #282c34;
  }
 .array-bar{
    width: 18px;
    margin: 0 9px;
    background-color: #282c34;
    border: 0px solid #f2cbcb84;
    /* transition: height 0.2s ease; */
  }
.normal-bar{
    transition: height 0.2s ease;
}

  .generate{
    padding: 1rem;
    font-size: 20px;
    transition: all 0.2s ease;
    color : #282c34;
    font-weight: 800;
  }
  .generate:hover{
    color: #f7f7f7;
    background-color: #282c34;
  }